//====================================================================================================

//====================================================================================================

.footer {
  padding: 110px 0 0;
  font-family: var(--font-family-inter);

  .footer-title {
    color: var(--color-green);
    margin-bottom: 20px;
    line-height: 1.6;
  }

  .footer-info {
    margin-bottom: 20px;
    > li {
      font-family: var(--font-family-inter);
      color: var(--color-dark);
      margin-bottom: 12px;
    }

    a {
      transition: color .3s;
      &:hover {
        color: var(--color-green);
      }
    }
  }
  
  .footer-socials {
    display: flex;
    justify-content: center;
    gap: .5rem;
    
    a {
      transition: opacity 0.3s;
      &:hover {
        opacity: 0.7;
      }
    }
  }

  .footer-copyright {
    margin-top: 1.5rem;
    padding: 1.5rem 0;
    font-size: var(--font-size-xs);
    border-top: 1px solid var(--color-grey);
    font-family: var(--font-family-mont);
    font-weight: 300;
  }

  @media (max-width: 768px) {
    padding: 80px 0 0;
  }
}